.aims {


ion-list > .item:last-child, ion-list > .item-wrapper:last-child .item{ padding:2% 0 2% 3%; font-size:1.2em; background:#F9F9F9; }
.item-button{ margin:0; }
ion-row{ background:#910008; color:#fff; }
.button-secondary{ background-color:inherit; box-shadow:none; font-size:3em; padding:0.3em; }
.toolbar-title{ color:#fff; }
ion-list{ margin-bottom:2%; }
ion-card ion-card-content{ padding:1% 0; text-align:justify; } 





}
