.contact{
	
	
ion-row{ background:#910008; color:#fff; }
.button-secondary:first-child{ background-color:inherit; box-shadow:none; font-size:3em; padding:0.3em; color:#fff; }
.toolbar-title{ color:#fff; }
ion-list{ margin-bottom:2%; }
ion-card ion-card-content{ padding:1% 0; text-align:justify; }	
ion-card ion-card-header{ padding:10px; margin-bottom:2%; font-size:1.6em; background:#ccc; }





}



